

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  overflow-x:hidden;
  display: inline-table;
  width: 100vw
}

.img-container {
  /* Ensure the container takes up the entire viewport */
  position: top;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* Center the image horizontally and vertically */
  justify-content: center;
  align-items: center;
  /* Limit the size of the image to fit within the container */
  
}
.img-container img {
  width: 100%;
  height: auto;
  /* Add additional styles as needed */
}
.add-sku {
  margin-bottom: 2px; /* Reduce the bottom margin */
  text-align: center;
}

h1 {
  margin-top: 0px;
  color: #470255;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.249);
  font-size: 32px;
}

/*תיבת טקסט */
#skuInput {
  width: 30%; /* Adjust the width of the text box as needed */
  height: 45px;
  margin-bottom: 10px;
}

.export-button-container {
  width: 99%; 
  padding: 2px;
  margin: 0 auto; 
  
}
input[type="text"] {
  width: 70%;
  height: 40px;
  padding: 8px 15px;
  box-sizing: border-box;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  background-color: white;
  border: 1px solid #ddd;
  font-size: 14px;
  font-family: Calibri
}

.add-sku button {
  height:45px;
  padding: 8px 15px;
  background-color: #442C5B;
  color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  font-family: Calibri
  
}

.add-sku button:hover {
  background-color: #F5F4F6;
  color: #442C5B;
  border: 2px solid #442C5B;
}

.sku-table{
  width: 99%; /* Set container width to 90% of the viewport width */
  margin: 0 auto; /* Center the container horizontally */
  padding: 10px; /* Add padding to the container */
  box-sizing: border-box; /* Include padding and border in the total width */
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}

/* שורות*/
.sku-table th,
.sku-table td {
  padding: 10px;
  border: 3% solid #fffcfc;
  text-align: center;
  color: #000; /* Ensures text color is black */
  font-size: 14px;
}

/* שורת כותרות */
.sku-table th {
  background-color: #DAE7EB;
  font-weight: bold;
  color: #000; /* Ensures text color is black */
  font-size: 18px; 
}


/* Export to Excel button */
.export-btn {
  font-weight: bold;
  padding: 10px 20px;
  margin-top: 2px;
  background-color: #014e70f0;
  color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
}

.export-btn:hover {
  background-color:#dae7ebda;
  color: #014e70f0;
  border: 2px solid #014e70f0;

}

input[type="checkbox"] {
  width: 22px;
  height: 22px;
  background-color: #fff;
  border: 2px solid #aaa;
  accent-color:#014e70f0;
  border-radius: 5px;
  /* Add some padding to the checkbox */
  padding: 0;
  margin: 0;
  cursor: pointer;
  /* Position the checkbox relative to its container */
  position: relative;
}
.delete-btn {
  font-weight: bold;
  height: 24px;
  background-color: #c20303c0;
  color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  font-family: Calibri
  
}

.delete-btn:hover {
  background-color:#c203031d;
  color: #c20303c0;
  border: 2px solid #c20303c0;

}
@media (max-width: 700px) {
  .sku-table th {
    font-size: 16px; /* Reduce font size */
    padding: 5px;    /* Adjust padding if needed */
  }

}
@media (max-width: 500px) {
    .sku-table th {
      font-size: 12px; /* Reduce font size */
      padding: 5px;    /* Adjust padding if needed */
    }
}
@media (max-width: 500px) {
    .sku-table td {
      font-size: 12px; /* Reduce font size */
      padding: 5px;    /* Adjust padding if needed */
    }
}
@media (max-width: 500px) {
  h1 {
    font-size: 30px; /* Reduce font size */
  }
}
